<!DOCTYPE html>
<html>
<head>
  <title>Stellar lookout</title>
  <%= stylesheet_link_tag    "stellar_lookout/application", media: "all" %>
  <%= javascript_include_tag "stellar_lookout/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
