---
http_interactions:
- request:
    method: post
    uri: https://lookout.stellar.staging.bloomnet.center/api/v1/wards
    body:
      encoding: UTF-8
      string: '{"data":{"type":"wards","attributes":{"address":"123","callback-url":"http://localhost:3000/stellar_lookout/api/v1/wards/1/operations","secret":"cdf431a6-2f81-4c69-9985-f4e81a62fd50"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Alternate-Protocol:
      - 443:quic
      Content-Type:
      - application/vnd.api+json
      Etag:
      - W/"add9fb6dcab2192de62c30dc05d26ddd"
      Location:
      - https://lookout.stellar.staging.bloomnet.center/api/v1/wards/2
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2","type":"wards","links":{"self":"https://lookout.stellar.staging.bloomnet.center/api/v1/wards/2"},"attributes":{"address":"123","callback-url":"http://localhost:3000/stellar_lookout/api/v1/wards/1/operations","secret":"cdf431a6-2f81-4c69-9985-f4e81a62fd50"}}}'
  recorded_at: Sat, 01 Apr 2017 05:15:56 GMT
recorded_with: VCR 3.0.3
